@font-face {
  font-family: bebas;
  src: url(../fonts/ofont.ru_Bebas-Neue.ttf);
}

@font-face {
  font-family: PN-regular;
  src: url(../fonts/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: PN-Semibold;
  src: url(../fonts/ProximaNova-Semibold.ttf);
}
